{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 rounded shadow-sm" style="background-color:#6a50a7;">
        <i class="fab fa-discord fa-3x text-white" style="margin-right:.3em;"></i>
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Select your Discord Server</h6>
          <small><strong>Note: </strong>If your sever doesn't show up here, you need to <a href="#" class="text-white"><strong>invite xbot</strong></a> to your server first!</small>
        </div>
    </div>

        <h6 class="pb-2 mb-0">Admin access confirmed for the following discord servers:</h6>
    {% if not servers %}
        <span>
            <p colspan="5">no. zero elements</p>
        </span>
    {% else %}
        {% for server in servers %}
        <div class="row mb-3 pb-2 mb-2 border border-dark rounded bg-dark">
            <div class="col-2 py-3">
                <img class="bd-placeholder-img mr-2 rounded" src="https://cdn.discordapp.com/icons/{{ server.id }}/{{ server.guild_avatar }}.png" style="width:46px;height:46px;" focusable="false"/>
            </div>
            <div class="col py-3">
                <a href="/select_server?server_id={{server.id}}">
                    <p class="media-body pb-3 mb-0 lh-125">
                        <strong class="d-block text-gray-dark">{{ server.name }}</strong>
                        Channels: {{ server.channels_sum }} - Roles: {{ server.roles_sum }} - Routines: {{ server.routines_sum }}
                    </p>
                </a>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
    
{% endblock %}